

<div class="row" id="mainDiv">
	<p id="notice"><%= notice %></p>
      <div class="col-md-12 orange4">
        
        <div class="row firstRow">
          <div class="col-md-5 orange4">
            <h1 class="centered"><%= @organization.location %></h1>
            <div style="margin-left:auto;margin-right:auto;width:370px;">
            <p style="font-size:17px;line-height:150%;"><%= @organization.discription %></p>
	        </div>
          </div>
          <div class="col-md-4 orange1" id="stats">
            <h3 class="centered">STATS - - - - - - - - - - -</h3>
            
           
            <ul class="inline">
              <li>
                <h1 style="font-family:'nexa_lightregular',Arial,sans-serif;font-size:80px;padding-top:15px;"><%= @organization.stats %><span style="font-size:17px;vertical-align:super;">M affected</span></h1>
              </li>
              <li>
                <h2 style="font-family:'nexa_lightregular',Arial,sans-serif;font-size:60px;padding-top:15px;">30%<span style="font-size:15px;vertical-align:super;">Women/Children</span></h2> 
              </li>
            </ul>
          </div>
          <div class="topRight">
          <div class="col-md-3 blue2">
            <h3 class="centered" style="margin-top:50px;"><a href= '/st_users/1'>PROFILE</a></h3>
          </div>
          <div class="col-md-3 blue3">
            <div class="update" style="margin-top:50px;">
            <p class="updateText">Katie just donated her calories to SYRIA</p>
            <p class="updateText">Jim just donated his calories to New Orleans</p>
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 ">
        <div class="row secondRow">
          <div class="col-md-3 orange2">
          	<h3 class="secHeader">YOUR <br>CALORIES</h3>
          	<span class="col-md-11 orange4" style="margin-right:auto;margin-left:auto;margin-top:17px;">
              <p class="text-center" style="margin-top:3px;"><%= @user.get_calories_lost_todate %><p>
	          </span>
          </div>
          <div class="col-md-5 orange3">
            <h3 class="secHeader">GIVE</h3>
            <p id='chart'></p>
            <%= render_chart(@chart, 'chart') %>
          </div>
          <div class="col-md-4 orange4">
            <h3 class="secHeader"><%= @organization.name %></h3>
            <div style="margin-left:auto;margin-right:auto;width:370px;">
            <p style="font-size:13px;line-height:150%;width:300px;margin:auto;"><%= @organization.org_profile %></p>
	        </div>
          </div>
          
        </div>
      </div>
    </div>

		<footer class="footer">
          <p>&copy; BeneFit 2013</p>
          <%= link_to 'New Donations', new_donation_path(@st_user) %> |
          <%= link_to 'Edit', edit_organization_path(@organization) %>
      </footer>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @organization.location %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @organization.discription %>
</p>
