<p id="notice"><%= notice %></p>
<!-- <div class="container-fluid">

    <div class="row-fluid">
      <div class="span12">

          <div class="span6 blue">
            <p>hellow</p>
            <p id='chart'></p>
            <% # render_chart(@chart, 'chart') %>
          </div>
          <div class="span4 orange1">
            <p>nooo</p>
          </div>
          <div class="span4 blue">
            <p>htrfd</p>
          </div>
          <div class="span4 orange2">
            <p>ffds</p>
          </div> 
      </div>
    </div>

</div> -->
<!-- <div class="row userProfile">
  <div class="span12"> -->
    
    <div class="row">
      <div class="col-md-12 darkblue">
        
        <div class="row">
          <div class="col-md-5 darkblue">
            
            <p id='chart'></p>
            <%= render_chart(@chart, 'chart') %>
          </div>
          <div class="col-md-4 blue3" id="stats">
            <h3>STATS</h3>
            <h1>5'8"</h1>
            <ul class="inline">
              <li>
                <h1>200</h1>
              </li>
              <li>
                <p>lbs</p>
              </li>
            </ul>
            
          </div>
          <div class="col-md-3 orange2">Fluid </div>
        </div>
      </div>

     <!--  <div class="col-md-12 blue2"> -->
        <div class="row">
          <div class="col-md-5 blue3">
            put chart here!!

          </div>
          <div class="col-md-4 blue2">Fluid 4
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>jkfld;ajklfdjsl;</h1>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
          <div class="col-md-3 orange2">Fluid </div>
        </div>
      <!-- </div> -->
    </div>

<!--   </div>
</div> -->


<p>
  <strong>Name:</strong>
  <%= @st_user.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @st_user.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @st_user.weight %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @st_user.sex %>
</p>

<p>
  <strong>Total calorie in:</strong>
  <%= @st_user.total_calorie_in %>
</p>

<p>
  <strong>Total calorie out:</strong>
  <%= @st_user.total_calorie_out %>
</p>


<%= link_to 'New Donations', new_donation_path(@st_user) %>

<%= link_to 'Edit', edit_st_user_path(@st_user.id) %> |
<%= link_to 'Back', st_users_path %>
