

<!-- <div class="container-fluid">

    <div class="row-fluid">
      <div class="span12">

          <div class="span6 blue">
            <p>hellow</p>
            <p id='chart'></p>
            <% # render_chart(@chart, 'chart') %>
          </div>
          <div class="span4 orange1">
            <p>nooo</p>
          </div>
          <div class="span4 blue">
            <p>htrfd</p>
          </div>
          <div class="span4 orange2">
            <p>ffds</p>
          </div> 
      </div>
    </div>

</div> -->
<!-- <div class="row userProfile">
  <div class="span12"> -->
    
    <div class="row" id="mainDiv">

      <p id="notice"><%= notice %></p>
      <div class="col-md-12 darkblue">
        
        <div class="row firstRow">
          <div class="col-md-5 darkblue">
            <h3 class="centered">CALORIE BANK</h3>
            <p id='chart'></p>
            <%= render_chart(@chart, 'chart') %>
          </div>
          <div class="col-md-4 blue3" id="stats">
            <h3 class="centered">STATS</h3>

            <h1 style="font-family:'nexa_lightregular',Arial,sans-serif;font-size:80px;"><%= @st_user.height %><span style="font-size:20px;vertical-align:super;">in</span></h1>
            <ul class="inline">
              <li>
                <h1 style="font-family:'nexa_lightregular',Arial,sans-serif;font-size:80px;"><%= @st_user.weight %><span style="font-size:20px;vertical-align:super;">lbs</span></h1>
              </li>
              <li>
                <!-- <p>lbs</p> -->
              </li>
            </ul>
            <h4 style="font-family:'nexa_lightregular',Arial, sans-serif;">Money Donated/Available Calories</h4>
           <!--  <span id="barGraph"> -->
            <ul class="inline barGraph">
              <li class="col-md-5 blue1">
                <p></p>
              </li>
              <li class="col-md-3 darkblue">
                <p><%= @st_user.get_calories_lost_todate %></p>
              </li>
            </ul>
            <!-- </span> -->
            <!-- <div>
              <p>Donated</p>
              <p>To-Date</p>
            </div> -->
          </div>
          <div class="topRight">
          <div class="col-md-3 orange4">
            <h3 class="centered">SYRIA</h3>
            <div class="text-center">
            <a href=""><font color="#FFFFFF">See<br> Updates</font></a>
            </div>
          </div>
          <div class="col-md-3 orange3">
            <h3 class="centered">PAKISTAN</h3>
            <div class="text-center">
            <a href=""><font color="#FFFFFF">See<br> Updates</font></a>
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 ">
        <div class="row secondRow">
          <div class="col-md-4 blue3">
            <h3 class="secHeader">UPDATES</h3>
            <div class="update">
            <p class="updateText">Katie just donated her calories to SYRIA</p>
            <p class="updateText">Jim just donated his calories to New Orleans</p>
            </div>
          </div>
          <div class="col-md-5 blue2">
            <h3 class="secHeader">TEAM PROGRESS</h3>
            <p id='chart2'></p>
            <%= render_chart(@chart2, 'chart2') %>
            
          </div>
          <div class="col-md-3 orange2">
            <h3 class="centered">BOULDER</h3>
            <div class="text-center">
            <a href=""><font color="#FFFFFF">See<br> Updates</font></a>
            </div>
          </div>
          
        </div>
      </div>
      <footer class="footer">
          <p>&copy; BeneFit 2013</p>
          <%= link_to 'New Donations', new_donation_path(@st_user), :class => 'pull-right' %> |
          <%= link_to 'Edit', edit_st_user_path(@st_user.id), :class => 'pull-right' %> |
          <%= link_to 'Back', st_users_path, :class => 'pull-right' %>
      </footer>
    </div>

<!--   </div>
</div> -->




