<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="span12">
    <div class="row-fluid">
          <div class="span6 blue">
            <p>hellow</p>
            <p id='chart'></p>
            <%= render_chart(@chart, 'chart') %>
          </div>
          <div class="span4 orange1">
            <p>nooo</p>
          </div>
          <div class="span4 blue">
            <p>htrfd</p>
          </div>
         <!--  <div class="span4 orange2">
            <p>ffds</p>
          </div> -->
    </div>
  </div>
</div>


<p>
  <strong>Name:</strong>
  <%= @st_user.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @st_user.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @st_user.weight %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @st_user.sex %>
</p>

<p>
  <strong>Total calorie in:</strong>
  <%= @st_user.total_calorie_in %>
</p>

<p>
  <strong>Total calorie out:</strong>
  <%= @st_user.total_calorie_out %>
</p>


<%= link_to 'New Donations', new_donation_path(@st_user) %>

<%= link_to 'Edit', edit_st_user_path(@st_user.id) %> |
<%= link_to 'Back', st_users_path %>
