<p id="notice"><%= notice %></p>

<p>
  <strong>Intake:</strong>
  <%= @calory.intake %>
</p>

<p>
  <strong>Outtake:</strong>
  <%= @calory.outtake %>
</p>

<%= link_to 'Edit', edit_calory_path(@calory) %> |
<%= link_to 'Back', calories_path %>
